<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <!-- Bootstrap CDN for Styling -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <!-- Centering Wrapper -->
    <div class="wrapper">
        <!-- Header -->
        <header>
            <h1>QuickSnip</h1>
            <p>Shorten your long URLS quickly and easily with our simple tool, QuickSnip.</p>
        </header>
        <div class="container">
            <form id="shorten-form" method="POST">
            <!-- Form Group for URL Input -->
                <div class="mb-3 text-start">
                    <label for="long_url" class="form-label">Enter the URL to shorten:</label>
                    <input type="url" id="long_url" name="long_url" class="form-control" placeholder="https://example.com" required>
                </div>
                <button type="submit" class="btn">Shorten URL</button>
            </form>
        </div>
        {% if short_url %}
        <div class="short-url mt-4">
            <label for="shortUrl" class="short-url-label">Shortened URL:</label>
            <a href="{{ short_url }}" id="shortUrl" class="form-control" target="_blank">{{ short_url }}</a>
            <button class="btn-copy" onclick="copyToClipboard()">Copy</button>
        </div>
        {% endif %}
    </div>

<!--    &lt;!&ndash; Custom Alert Modal &ndash;&gt;-->
<!--    <div id="customAlert" class="modal">-->
<!--        <div class="modal-content">-->
<!--            <p id="alertMessage"></p>-->
<!--            <button id="closeBtn" class="btn">OK</button>-->
<!--        </div>-->
<!--    </div>-->

    <!-- Bootstrap Bundle JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Custom JavaScript -->
   <script src="static/js/main.js"></script>
</body>
</html>